body {
    background-color: white;
    color: rgb(44, 44, 44);
    padding: 0 200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 30px;
    color: rgb(53, 53, 53);
    margin: 30px 0px;
}


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

/*                                               HEADER                                        */

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 25px;
    border-bottom: 1px rgba(0, 0, 0, 0.274) solid;
    z-index: 5;
}

.letter-container {
    display: inline-flex;

}
.letters {
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

.letter-1 {
    animation: downThenUp 1s linear;
}
.letter-2 {
    animation: downThenUp 1s linear;
}
.letter-3 {
    animation: downThenUp 1s linear;
}
.letter-4 {
    animation: downThenUp 1s linear;
}
.letter-5 {
    animation: downThenUp 1s linear;
}
.letter-6 {
    animation: downThenUp 1s linear;
}
.letter-7 {
    animation: downThenUp 1s linear;
}

@keyframes downThenUp {
    0%   {transform: scale(0.5)}
    25%  {transform: scale(1)}
    50%  {transform: scale(1.3)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
}

a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}
.contacts {
    padding-right: 50px;
    font-size: 17px;
}

/*                                               MAIN                                         */

main {
    margin: 50px 0px;
}

/*INTRO*/
.introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.intro-para {
    width: 65%;
}
.introduction img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.profile-pictures {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 30%;
   
}
aside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: rgb(44, 44, 44);
    padding-top: 40px;
}


/*PROJECTS*/
.projects {
    height: auto;
    cursor: pointer;
    padding: 15px 0px;
}
.project-titles {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 25px;
    list-style: none;
}
.project-image-container {
    display: inline-flex;
    padding-top: 25px;
}
.project-box {
    text-align: center;
    padding: 10px;
}


.project-images {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}



/*SKILLS*/
.icons {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.icons i {
    font-size: 30px;
}


/*                                               FOOTER                                       */
footer {
    text-align: center;
    margin: 20px;
    padding-top: 20px;
}
.fa-heart {
    color: rgb(223, 67, 47);
}