body {
    background-color: white;
    color: rgb(44, 44, 44);
    padding: 0 200px;
    margin: 0 auto;
}

.click-here {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 25px;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 30px;
    color: rgb(53, 53, 53);
    margin: 30px 0px;
}


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

/*                                               HEADER                                        */

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 25px;
    border-bottom: 1px rgba(0, 0, 0, 0.274) solid;
    z-index: 5;
}

.letter-container {
    display: inline-flex;

}
.letters {
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

.letter-1 {
    animation: bounceIn1 0.1s linear;
}
.letter-2 {
    animation: bounceIn2 0.1s linear 0.1s;
}
.letter-3 {
    animation: bounceIn3 0.1s linear 0.2s;
}
.letter-4 {
    animation: bounceIn4 0.1s linear 0.3s;
}
.letter-5 {
    animation: bounceIn5 0.1s linear 0.4s;
}
.letter-6 {
    animation: bounceIn6 0.1s linear 0.5s;
}
.letter-7 {
    animation: bounceIn7 0.1s linear 0.6s;
}

@keyframes bounceIn1{
    0%    {transform: scale(0)}
    10%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn2{
    0%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn3{
    0%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn4{
    0%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn5{
    0%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn6{
    0%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}
@keyframes bounceIn7{
    0%  {transform: scale(0)}
    10%   {transform: scale(5)}
    50%  {transform: scale(2.5)}
    100%  {transform: scale(1)}
}

a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}
.contacts {
    padding-right: 50px;
    font-size: 17px;
}

/*                                               MAIN                                         */

main {
    margin: 50px 0px;
}

/*INTRO*/
.introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.intro-para {
    width: 65%;
}
.introduction img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.profile-pictures {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 30%;
   
}
aside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: rgb(44, 44, 44);
    padding-top: 40px;
}


/*PROJECTS*/
.projects {
    height: auto;
    cursor: pointer;
    padding: 15px 0px;
}
.project-titles {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 25px;
    list-style: none;
}
.project-image-container {
    display: inline-flex;
    padding-top: 25px;
}
.project-box {
    text-align: center;
    padding: 10px;
}
.project-images {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid black;
    transition-duration: 0.1s;
}
.project-images:hover {
    
    box-shadow: -10px 10px #a0a0a0a2;
    border-radius: 0px;
    -webkit-transform: translate(3px);
    transform: translate(3px);

}

.project-titles i {
    transition-property: font-size;
    transition-duration: 0.1s;
}

.project-titles i:hover {
    font-size: 35px;
}



/*SKILLS*/
.icons {
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.icons i {
    font-size: 30px;
}


/*                                               FOOTER                                       */
footer {
    text-align: center;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.fa-heart {
    color: rgb(223, 67, 47);
}

